<div class="container">
  <h1>Welcome</h1>

  <h2>Login</h2>
    <div class="user_login">
      <form action ="/process_users" method="post">
        <p><label for="player1_initials">Player 1</label><input type="text" name="player1_initials"/></p>
        <p><label for="player2_initials">Player 2</label><input type="text" name="player2_initials"/></p>
        <p><input type ="submit" value="START!"/></p>
      </form>
    </div>
</div>


